*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
}

/* .header-menu{
    background-color: aqua;
}

.header-logo{
    background-color: blue;
}

.header-social_medias{
    background-color: brown;
} */

.header-menu .active{
    background-color: #FFF;
    color: black !important;
    border-radius: 5px;
    width: min-content;
}

.header-menu{
    text-align: center;
}

.header-logo svg{
    width: 100%;
}

.header-logo svg path{
    fill: #FFF;
}

.header-social_medias svg path{
    fill: #FFF;
}

.header-menu-item a{
    color: #FFF !important;
}

.header-menu-item .dropdown-item{
    color: black !important;
}

.header-menu-item .dropdown-menu li a:hover{
    background-color: black !important;
    color: #FFF !important;
}

.header-social_medias svg:hover path{
    fill: yellow;
}